# Logs
logs
*.log
npm-debug.log*
**/filestore/
**/dist/
# Node.js
frontend/node_modules/


# Python
__pycache__
backend/venv
*.pyc
**/*.pyc

# macOs
.DS_Store
backend/app/filestore/haoduoyu/service/5b4304e9-7890-49f3-a147-8393341fef8a/3.jpg

push.py
